.welcome-top{
    width:200px;
    height:40px;
    background-color: rgb(109, 207, 11);
    color:white;
    /* padding-left:10px; */
    border-radius: 10px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:4px;
}
.login-top{
    width:300px;
    height:40px;
    background-color: rgb(231, 49, 8);
    color:white;
    /* padding-left:10px; */
    border-radius: 10px;
    text-align: center;
    display:flex;
    align-items:center;
    justify-content:center;
    padding-bottom:4px;
    margin-left:600px;

}